.container {

  .delivery-text {

      h2 {
          font-size: 40px!important;
      }
  }

  .privacy-text,
  .delivery-text,
  .offer-text {
    margin-bottom: 50px;

    p {
        font-size: 30px;
    }
  
    h2 {
        margin: 57px 0;
        font-size: 64px;
    }
  }
}