.error_alert {
    font-size: 12px;
    color: red !important;
    position: absolute;
    left: 10px;
    bottom: -23px;
}

.form_block {

    .form_block_input {
        width: 720px;
        height: 56px;
        margin: 7px 0;
        padding: 20px;
    }
}